@import "common.less";

.content {
    max-width: 800px;
    margin-left: 250px;
    padding: 25px;
    color: @midnight;

    .block {
        background-color: white;
        border-bottom: 2px solid @silver;
        border-radius: 3px;
        box-shadow: 0 0 2px @silver;
        padding: 20px;
        margin-bottom: 25px;
        overflow: auto;

        .post-stamp, .rev-stamp {
            margin-bottom: 12px;
            .stamp();
        }

        .rev-concert {
            margin-bottom: 12px;

            .link {
                color: @highlight;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .rev-content {
            margin-bottom: 12px;
        }

        .rev-rating {
            .rating(24px);
        }
    }

    .newpost {
        transition: all .5s;
        height: 140px;
        overflow: hidden;

        &.no-focus {
            height: 46px;
            padding: 0;
        }

        .left {
            float: left;

            .visi {
                @size: 26px;
                border-radius: 2px;
                height: @size;
                width: @size;
                float: left;
                margin: 4px;
                padding: 17px;
                background-size: 26px 26px;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 2px;

                &.pri {
                    .background("private");
                }

                &.pub {
                    .background("public");
                }

                &.fol {
                    .background("follow");
                }

                &:hover {
                    box-shadow: 0 0 3px @amethyst;
                }

                &.active {
                    background-color: @midnight;
                    box-shadow: inset 0 0 5px darken(@midnight, 25%);
                }
            }
        }

        .right {
            float: right;

            .link {
                margin-right: 12px;

                &:hover {
                    color: @pomegranate;
                }
            }
        }
    }

    .loader {
        @size: 64px;
        margin: auto;
        .loader(@size);
        margin-bottom: 0;
        transform: scale(0);
        transition: all .3s;
        height: 0;

        &.open {
            transform: scale(1);
            height: @size;
            margin-bottom: 25px;
        }
    }

    .section-title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .section {
        .entry {
            display: inline-block;
            width: 45%;
            margin-right: 4%;
            padding: 0;
            position: relative;
            background-color: lighten(@clouds, 4%);

            .icon {
                background-repeat: no-repeat;
                background-position: center center;
                background-color: white;
                float: left;

                @size: 75px;
                height: @size;
                width: @size;
            }

            .name {
                height: 50px;
                line-height: 50px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;                
                vertical-align: middle;                
                width : 240px;
            }

            .stamp {
                height: 25px;
                .stamp();
            }

            div:not(.icon) {
                margin-left: 75px;
                padding-left: 12px;
            }

            .options {
                width: 0;
                overflow: hidden;
                .absolute(0,auto,0,0);
                background-color: fade(@midnight, 90%);
                transition: width .2s;

                li {
                    width: 21px;
                    height: 21px;
                    margin: 2px 7px;
                    background-size: 100% 100%;
                    cursor: pointer;

                    &.go {
                        .background("view");

                        a {
                            display: block;
                            height: 100%;
                        }
                    }

                    &.rm {
                        .background("delete");
                    }

                    &.at {
                        .background("add");
                    }

                    &.dn {
                        .background("done");
                    }
                }
            }

            &.concert .icon {
                .background("concert");
            }

            &.band {
                .icon {
                    .background("band");
                }

                .name {
                    height: 75px;
                    line-height: 75px;
                }
            }

            &:hover {
                .options {
                    width: 35px;
                }
            }
        }
    }
}
