@import "common.less";

.content {
    .block {
        .block();

        &:not(.entry) .stamp {
            margin-bottom: 12px;
            .stamp();
        }

        .about {
            margin-bottom: 12px;
            font-size: 14px;

            .link {
                color: @highlight;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .text {
            margin-bottom: 12px;
        }

        .delete {
            .absolute(0, auto, auto, 0);
            background-color: @midnight;
            color: white;
            padding: 0;
            font-size: 12px;
            border-bottom-left-radius: 4px;
            .background("delete");
            background-size: auto 15px;
            background-repeat: no-repeat;
            background-position: 3px center;
            height: 0;
            transition: height .3s, padding .3s;
            cursor: pointer;
        }

        &:hover .delete {
            height: 21px;
            padding: 2px 10px 2px 20px;
        }
    }

    .newpost {
        transition: all .5s;
        height: 140px;
        overflow: hidden;

        &.no-focus {
            height: 46px;
            padding: 0;
        }

        .left {
            float: left;

            .visi {
                @size: 26px;
                border-radius: 2px;
                height: @size;
                width: @size;
                float: left;
                margin: 4px;
                padding: 17px;
                background-size: 26px 26px;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 2px;

                &.pri {
                    .background("private");
                }

                &.pub {
                    .background("public");
                }

                &.fol {
                    .background("follow");
                }

                &:hover {
                    box-shadow: 0 0 3px @amethyst;
                }

                &.active {
                    background-color: @clouds;
                    box-shadow: inset 0 0 5px darken(@clouds, 25%);
                }
            }
        }

        .right {
            float: right;

            .link {
                margin-right: 12px;

                &:hover {
                    color: @pomegranate;
                }
            }
        }
    }

    .loader {
        @size: 64px;
        margin: auto;
        .loader(@size);
        margin-bottom: 0;
        transform: scale(0);
        transition: all .3s;
        height: 0;

        &.open {
            transform: scale(1);
            height: @size;
            margin-bottom: 25px;
        }
    }

    .section-title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 12px;

        .edit {
            font-size: 14px;

            &:hover {
                color: @highlight;
            }
        }
    }

    .section {
        .label {
            font-weight: 600;

            &::before, &::after {
                font-weight: 400;
                font-size: 14px;
            }

            &.from::before {
                content: "Joined on ";
            }

            &.city::before {
                content: "from ";
            }

            &.followers {
                &::before {
                    content: "has ";
                }

                &::after {
                    content: " followers";
                }
            }

            &.following {
                &::before {
                    content: "and following ";
                }

                &::after {
                    content: " people";
                }
            }
        }
    }

    form.details, form.password {
        padding-bottom: 25px;

        input {
            padding: 5px 20px;

            &.txt {
                display: inline;
                width: 275px;
                margin-right: 10px;
            }
        }

        p.error {
            font-size: 14px;
            color: @pomegranate;
            margin-bottom: 15px;
            display: none;

            &.open {
                display: block;
            }
        }

        .status {
            color: @emerald;
            font-style: italic;
            margin-left: 10px;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .details {
        > div > span {
            float: left;
            width: 100px;
            line-height: 34px;
        }
    }

    .rating {
        .rating(24px);
        margin: 10px 0;
    }
}
